@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>Shift Panel</h2>
            <ul class="nav nav-pills nav-stacked flex-column">
                <li class="nav-item">
                    <a class="btn" asp-area="" asp-controller="Shift" asp-action="ListAvailableShifts">Claim Shift</a>
                </li>
                <li class="nav-item">
                    <a class="btn" asp-area="" asp-controller="Shift" asp-action="ShiftHistory">Shift History</a>
                </li>

                
       
            </ul>
        </div>

        <div class="col-sm-9">
        <div class="well" id="calendarWell">
            <h4>Shift Calendar</h4>
            <div id="calendar"></div>
        </div>

           
        </div>
    </div>
</div>
